/* You can add global styles to this file, and also import other style files */

body{
    color:white;
    background-color: #2e9ce6;
    padding: 3em;
    font-family: initial 22px;
}

ul{
    list-style-type: none;
    margin: 0 0 2em 0;
    padding: 0;
}

ul li{
    display: inline;
    margin-right: 30px;
}

a{
    color:black;
    text-decoration: none;
    font-size: 24px;
}